<main>

    <section class="section-padding section-bg" id="feed-sect">
        <div class="container">
            <h2 class="feed" id="border-bottom">Feed</h2>
        </div>
        {{#each songs}}
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="container" id="track-container">
                            <button class="btn custom-btn d-lg-block d-none audio-btn">Play</button>
                            <p id="artist-name">
                                <a href="/{{creator}}">{{creator}}</a>
                            </p>
                            <p class="text-black" id="song-title">{{title}}</p>
                            <img src="{{coverImage}}" alt="{{title}}" class="cover-art">
                            <audio src={{audioFile}}></audio>
                            <div id="waveform"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </section>

</main>