<main>

    <section class="section-bg" id="feed-sect">
        <div class="container">
            <h2 class="feed" id="border-bottom">Feed</h2>
        </div>
        {{#each songs}}
        <div class="container">
            <div class="container" id="track-container">
                <div class="row align-items-end">
                    <div class="col image-container">
                        <a href="/{{creator}}/{{title}}">
                            <img src="{{coverImage}}" alt="{{title}}" class="cover-art">
                        </a>
                    </div>

                    <div class="col">
                        <div class="track-actions">
                            <p id="artist-name">
                                <a href="/{{creator}}">{{creator}}</a>
                            </p>
                            <a href="/{{creator}}/{{title}}">
                                <p class="text-black" id="song-title">{{title}}</p>
                            </a>
                            <button class="btn custom-btn d-lg-block d-none audio-btn"
                                id="audio-btn{{@index}}"></button>
                            <div class="waveform" id="waveform{{@index}}"></div>
                            <audio src={{audioFile}}></audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </section>

</main>